<a href="https://colab.research.google.com/github/NoobRushEr/Pandas-Essential-Training/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'UsecolsArgType' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool | lib.NoDefault' = <no_default>, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool | lib.NoDefault' = <no_default>, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | dict[Hashable, str] | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool | lib.NoDefault' = <no_default>, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Character or regex pattern to treat as the delimiter. If ``sep=None``, the
        C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator from only the first valid
        row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
        In addition, separators longer than 1 character and different from
        ``'\s+'`` will be interpreted as regular expressions and will also force
        the use of the Python parsing engine. Note that regex delimiters are prone
        to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, optional
        Alias for ``sep``.
    header : int, Sequence of int, 'infer' or None, default 'infer'
        Row number(s) containing column labels and marking the start of the
        data (zero-indexed). Default behavior is to infer the column names: if no ``names``
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly to ``names`` then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a :class:`~pandas.MultiIndex` on the columns
        e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : Sequence of Hashable, optional
        Sequence of column labels to apply. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : Hashable, Sequence of Hashable or False, optional
      Column(s) to use as row label(s), denoted either by column labels or column
      indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
      will be formed for the row labels.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g., when you have a malformed file with delimiters at
      the end of each line.
    usecols : Sequence of Hashable or Callable, optional
        Subset of columns to select, denoted either by column labels or column indices.
        If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in ``names`` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
        preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
        for columns in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to ``True``. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    dtype : dtype or dict of {Hashable : dtype}, optional
        Data type(s) to apply to either the whole dataset or individual columns.
        E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
        Use ``str`` or ``object`` together with suitable ``na_values`` settings
        to preserve and not interpret ``dtype``.
        If ``converters`` are specified, they will be applied INSTEAD
        of ``dtype`` conversion.

        .. versionadded:: 1.5.0

            Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
            the default determines the ``dtype`` of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The 'pyarrow' engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict of {Hashable : Callable}, optional
        Functions for converting values in specified columns. Keys can either
        be column labels or column indices.
    true_values : list, optional
        Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
    false_values : list, optional
        Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : int, list of int or Callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (``int``)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
        Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
        per-column ``NA`` values.  By default the following values are interpreted as
        ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
        "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
        "n/a", "nan", "null ".

    keep_default_na : bool, default True
        Whether or not to include the default ``NaN`` values when parsing the data.
        Depending on whether ``na_values`` is passed in, the behavior is as follows:

        * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
          is appended to the default ``NaN`` values used for parsing.
        * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
          the default ``NaN`` values are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
          the ``NaN`` values specified ``na_values`` are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
          strings will be parsed as ``NaN``.

        Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
        ``na_values`` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of ``na_values``). In
        data without any ``NA`` values, passing ``na_filter=False`` can improve the
        performance of reading a large file.
    verbose : bool, default False
        Indicate number of ``NA`` values placed in non-numeric columns.

        .. deprecated:: 2.2.0
    skip_blank_lines : bool, default True
        If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
    parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
        The behavior is as follows:

        * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
          ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
        * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
          each as a separate date column.
        * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
          as a single date column. Values are joined with a space before parsing.
        * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
          result 'foo'. Values are joined with a space before parsing.

        If a column or index cannot be represented as an array of ``datetime``,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an ``object`` data type. For
        non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
        :func:`~pandas.read_csv`.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
        format of the ``datetime`` strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.

        .. deprecated:: 2.0.0
            A strict version of this argument is now the default, passing it has no effect.

    keep_date_col : bool, default False
        If ``True`` and ``parse_dates`` specifies combining multiple columns then
        keep the original columns.
    date_parser : Callable, optional
        Function to use for converting a sequence of string columns to an array of
        ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. pandas will try to call ``date_parser`` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by ``parse_dates`` into a single array
        and pass that; and 3) call ``date_parser`` once for each row using one or
        more strings (corresponding to the columns defined by ``parse_dates``) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`~pandas.to_datetime` as-needed.
    date_format : str or dict of column -> format, optional
        Format to use for parsing dates when used in conjunction with ``parse_dates``.
        The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
        `strftime documentation
        <https://docs.python.org/3/library/datetime.html
        #strftime-and-strptime-behavior>`_ for more information on choices, though
        note that :const:`"%f"` will parse all the way up to nanoseconds.
        You can also pass:

        - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
            time string (not necessarily in exactly the same format);
        - "mixed", to infer the format for each element individually. This is risky,
            and you should probably use it along with `dayfirst`.

        .. versionadded:: 2.0.0
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If ``True``, use a cache of unique, converted dates to apply the ``datetime``
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

    iterator : bool, default False
        Return ``TextFileReader`` object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Number of lines to read from the file per chunk. Passing a value will cause the
        function to return a ``TextFileReader`` object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
        other key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str (length 1), optional
        Character acting as the thousands separator in numerical values.
    decimal : str (length 1), default '.'
        Character to recognize as decimal point (e.g., use ',' for European data).
    lineterminator : str (length 1), optional
        Character used to denote a line break. Only valid with C parser.
    quotechar : str (length 1), optional
        Character used to denote the start and end of a quoted item. Quoted
        items can include the ``delimiter`` and it will be ignored.
    quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
        ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
        characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
        or ``lineterminator``.
    doublequote : bool, default True
       When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        Character used to escape other characters.
    comment : str (length 1), optional
        Character indicating that the remainder of line should not be parsed.
        If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter ``header`` but not by
        ``skiprows``. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
        treated as the header.
    encoding : str, optional, default 'utf-8'
        Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    encoding_errors : str, optional, default 'strict'
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
        ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
        override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
        documentation for more details.
    on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

        - ``'error'``, raise an Exception when a bad line is encountered.
        - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
        - ``'skip'``, skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0


In [3]:
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel._base:

read_excel(io, sheet_name: 'str | int | list[IntStrT] | None' = 0, *, header: 'int | Sequence[int] | None' = 0, names: 'SequenceNotStr[Hashable] | range | None' = None, index_col: 'int | str | Sequence[int] | None' = None, usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None, dtype: 'DtypeArg | None' = None, engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb', 'calamine'] | None" = None, converters: 'dict[str, Callable] | dict[int, Callable] | None' = None, true_values: 'Iterable[Hashable] | None' = None, false_values: 'Iterable[Hashable] | None' = None, skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, parse_dates: 'list | dict | bool' = False, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'dict[Hashable, str] | str | None' = None, thousands: 'str | None' = None, decimal: 'str' = '.', comment: 'str | None' = None, skipfooter: 'int' = 0, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>, engine_kwargs: 'dict | None' = None) -> 'DataFrame | dict[IntStrT, DataFrame]'
    Read an Excel file into a ``pandas`` ``DataFrame``.

    Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
    read from a local filesystem or URL. Supports an option to read
    a single sheet or a list of sheets.

    Parameters
    ----------
    io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method,
        such as a file handle (e.g. via builtin ``open`` function)
        or ``StringIO``.

        .. deprecated:: 2.1.0
            Passing byte strings is deprecated. To read from a
            byte string, wrap it in a ``BytesIO`` object.
    sheet_name : str, int, list, or None, default 0
        Strings are used for sheet names. Integers are used in zero-indexed
        sheet positions (chart sheets do not count as a sheet position).
        Lists of strings/integers are used to request multiple sheets.
        Specify ``None`` to get all worksheets.

        Available cases:

        * Defaults to ``0``: 1st sheet as a `DataFrame`
        * ``1``: 2nd sheet as a `DataFrame`
        * ``"Sheet1"``: Load sheet with name "Sheet1"
        * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
          as a dict of `DataFrame`
        * ``None``: All worksheets.

    header : int, list of int, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None.
    index_col : int, str, list of int, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.

        Missing values will be forward filled to allow roundtripping with
        ``to_excel`` for ``merged_cells=True``. To avoid forward filling the
        missing values use ``set_index`` after reading the data instead of
        ``index_col``.
    usecols : str, list-like, or callable, default None
        * If None, then parse all columns.
        * If str, then indicates comma separated list of Excel column letters
          and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
          both sides.
        * If list of int, then indicates list of column numbers to be parsed
          (0-indexed).
        * If list of string, then indicates list of column names to be parsed.
        * If callable, then evaluate each column name against it and parse the
          column if the callable returns ``True``.

        Returns a subset of the columns according to behavior above.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use ``object`` to preserve data as stored in Excel and not interpret dtype,
        which will necessarily result in ``object`` dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
        If you use ``None``, it will infer the dtype of each column based on the data.
    engine : {'openpyxl', 'calamine', 'odf', 'pyxlsb', 'xlrd'}, default None
        If io is not a buffer or path, this must be set to identify io.
        Engine compatibility :

        - ``openpyxl`` supports newer Excel file formats.
        - ``calamine`` supports Excel (.xls, .xlsx, .xlsm, .xlsb)
          and OpenDocument (.ods) file formats.
        - ``odf`` supports OpenDocument file formats (.odf, .ods, .odt).
        - ``pyxlsb`` supports Binary Excel files.
        - ``xlrd`` supports old-style Excel files (.xls).

        When ``engine=None``, the following logic will be used to determine the engine:

        - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
          then `odf <https://pypi.org/project/odfpy/>`_ will be used.
        - Otherwise if ``path_or_buffer`` is an xls format, ``xlrd`` will be used.
        - Otherwise if ``path_or_buffer`` is in xlsb format, ``pyxlsb`` will be used.
        - Otherwise ``openpyxl`` will be used.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True.
    false_values : list, default None
        Values to consider as False.
    skiprows : list-like, int, or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int) at the
        start of the file. If callable, the callable function will be evaluated
        against the row indices, returning True if the row should be skipped and
        False otherwise. An example of a valid callable argument would be ``lambda
        x: x in [0, 2]``.
    nrows : int, default None
        Number of rows to parse.
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
        'n/a', 'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether ``na_values`` is passed in, the behavior is as follows:

        * If ``keep_default_na`` is True, and ``na_values`` are specified,
          ``na_values`` is appended to the default NaN values used for parsing.
        * If ``keep_default_na`` is True, and ``na_values`` are not specified, only
          the default NaN values are used for parsing.
        * If ``keep_default_na`` is False, and ``na_values`` are specified, only
          the NaN values specified ``na_values`` are used for parsing.
        * If ``keep_default_na`` is False, and ``na_values`` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the ``keep_default_na`` and
        ``na_values`` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing ``na_filter=False`` can improve the
        performance of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    parse_dates : bool, list-like, or dict, default False
        The behavior is as follows:

        * ``bool``. If True -> try parsing the index.
        * ``list`` of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * ``list`` of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * ``dict``, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index contains an unparsable date, the entire column or
        index will be returned unaltered as an object data type. If you don`t want to
        parse some cells as date just change their type in Excel to "Text".
        For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

        Note: A fast-path exists for iso8601-formatted dates.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`to_datetime` as-needed.
    date_format : str or dict of column -> format, default ``None``
       If used in conjunction with ``parse_dates``, will parse dates according to this
       format. For anything more complex,
       please read in as ``object`` and then apply :func:`to_datetime` as-needed.

       .. versionadded:: 2.0.0
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    decimal : str, default '.'
        Character to recognize as decimal point for parsing string columns to numeric.
        Note that this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.(e.g. use ',' for European data).

        .. versionadded:: 1.4.0

    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed).
    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

    dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
        Back-end data type applied to the resultant :class:`DataFrame`
        (still experimental). Behaviour is as follows:

        * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
          (default).
        * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
          DataFrame.

        .. versionadded:: 2.0

    engine_kwargs : dict, optional
        Arbitrary keyword arguments passed to excel engine.

    Returns
    -------
    DataFrame or dict of DataFrames
        DataFrame from the passed in Excel file. See notes in sheet_name
        argument for more information on when a dict of DataFrames is returned.

    See Also
    --------
    DataFrame.to_excel : Write DataFrame to an Excel file.
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Notes
    -----
    For specific information on the methods used for each Excel engine, refer to the pandas
    :ref:`user guide <io.excel_reader>`

    Examples
    --------
    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
           Name  Value
    0   string1      1
    1   string2      2
    2  #Comment      3

    >>> pd.read_excel(open('tmp.xlsx', 'rb'),
    ...               sheet_name='Sheet3')  # doctest: +SKIP
       Unnamed: 0      Name  Value
    0           0   string1      1
    1           1   string2      2
    2           2  #Comment      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
         0         1      2
    0  NaN      Name  Value
    1  0.0   string1      1
    2  1.0   string2      2
    3  2.0  #Comment      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
           Name  Value
    0   string1    1.0
    1   string2    2.0
    2  #Comment    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               na_values=['string1', 'string2'])  # doctest: +SKIP
           Name  Value
    0       NaN      1
    1       NaN      2
    2  #Comment      3

    Comment lines in the excel input file can be skipped using the
    ``comment`` kwarg.

    >>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2     None    NaN

In [4]:
pd.read_csv?

In [5]:
!wget https://raw.githubusercontent.com/NoobRushEr/Pandas-Essential-Training/main/olympics_1896_2004.csv

--2026-01-19 17:05:24--  https://raw.githubusercontent.com/NoobRushEr/Pandas-Essential-Training/main/olympics_1896_2004.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1048576 (1.0M) [text/plain]
Saving to: olympics_1896_2004.csv

olympics_1896_2004. 100%[===================>]   1.00M  --.-KB/s    in 0.06s

2026-01-19 17:05:24 (18.0 MB/s) - olympics_1896_2004.csv saved [1048576/1048576]

In [6]:
oo = pd.read_csv('olympics_1896_2004.csv', engine='python', on_bad_lines='skip')

In [7]:
oo = pd.read_csv('olympics_1896_2004.csv', engine='python', skiprows=5, on_bad_lines='skip')
oo.head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [8]:
oo.shape

(11758, 11)

In [9]:
help(oo.shape)

Help on tuple object:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      MonthDayNano
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [10]:
oo.head(2)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2

In [11]:
oo.sample(5)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
10482,1960,Rome,Rowing,Rowing,"RENNEBERG, Karl Heinz",EUA,Men,pair-oared shell with coxswain (2+),M,Gold,1
1187,1908,London,Athletics,Athletics,"SMITHSON, Forrest",USA,Men,110m hurdles,M,Gold,1
9031,1956,Melbourne / Stockholm,Aquatics,Swimming,"MYBURGH, Jeanette Evelyn",RSA,Women,4x100m freestyle relay,W,Bronze,3
5805,1932,Los Angeles,Athletics,Athletics,"CARR, William Arthur",USA,Men,400m,M,Gold,1
4546,1924,Paris,Rowing,Rowing,"SHEFFIELD, Frederick",USA,Men,eight with coxswain (8+),M,Gold,1

In [12]:
oo.sample(5, random_state=42)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
11053,1964,Tokyo,Canoe / Kayak,Canoe / Kayak F,"LAUER, Hilde",ROU,Women,K-2 500m (kayak double),W,Bronze,3
1825,1908,London,Gymnastics,Artistic G.,"RYDIN, C.",SWE,Men,team competition,M,Gold,1
2087,1912,Stockholm,Shooting,Shooting,"POULTER, Horatio Orlando",GBR,Men,"30m army pistol, team",M,Bronze,3
7920,1948,London,Gymnastics,Artistic G.,"STUDER, Emil",SUI,Men,team competition,M,Silver,2
4681,1924,Paris,Athletics,Athletics,"OSBORN, Harold Marion",USA,Men,high jump,M,Gold,1

In [13]:
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11758 entries, 0 to 11757
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          11758 non-null  int64
 1   City          11758 non-null  object
 2   Sport         11758 non-null  object
 3   Discipline    11758 non-null  object
 4   Athlete Name  11758 non-null  object
 5   NOC           11758 non-null  object
 6   Gender        11758 non-null  object
 7   Event         11758 non-null  object
 8   Event Gender  11758 non-null  object
 9   Medal         11758 non-null  object
 10  Position      11758 non-null  int64
dtypes: int64(2), object(9)
memory usage: 1010.6+ KB

In [14]:
oo.describe()

               Year      Position
count  11758.000000  11758.000000
mean    1933.510461      1.965130
std       20.710700      0.813664
min     1896.000000      1.000000
25%     1920.000000      1.000000
50%     1932.000000      2.000000
75%     1952.000000      3.000000
max     1968.000000      3.000000

In [15]:
pd.get_option('display.max_rows')

60

In [16]:
pd.set_option('display.max_rows', 20)

In [17]:
oo

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
11753,1968,Mexico,Athletics,Athletics,"KEINO, Kipchoge",KEN,Men,1500m,M,Gold,1
11754,1968,Mexico,Athletics,Athletics,"RYUN, James Ronald",USA,Men,1500m,M,Silver,2
11755,1968,Mexico,Aquatics,Swimming,"BROUGH, Gregory",AUS,Men,1500m freestyle,M,Bronze,3
11756,1968,Mexico,Aquatics,Swimming,"BURTON, Michael Jay",USA,Men,1500m freestyle,M,Gold,1
11757,1968,Mexico,Aquatics,Swimming,"KINSELLA, John Pitann",USA,Men,1500m freestyle,M,Silver,2

In [18]:
type(oo)

pandas.core.frame.DataFrame

In [19]:
oo['Discipline']

0        Cycling Track
1        Cycling Track
2            Athletics
3            Athletics
4            Athletics
             ...
11753        Athletics
11754        Athletics
11755         Swimming
11756         Swimming
11757         Swimming
Name: Discipline, Length: 11758, dtype: object

In [20]:
type(oo['Discipline'])

pandas.core.series.Series

In [21]:
oo.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal', 'Position'],
      dtype='object')

In [22]:
oo.Sport.unique()

array(['Cycling', 'Athletics', 'Aquatics', 'Shooting', 'Tennis',
       'Fencing', 'Weightlifting', 'Gymnastics', 'Wrestling', 'Sailing',
       'Archery', 'Basque Pelota', 'Cricket', 'Croquet', 'Rowing',
       'Football', 'Equestrian', 'Golf', 'Polo', 'Rugby', 'Tug of War',
       'Boxing', 'Roque', 'Lacrosse', 'Water Motorsports', 'Rackets',
       'Hockey', 'Jeu de paume', 'Skating', 'Modern Pentathlon',
       'Ice Hockey', 'Canoe / Kayak', 'Basketball', 'Handball', 'Judo',
       'Volleyball'], dtype=object)

In [23]:
oo.Sport.value_counts()

Sport
Athletics            1655
Aquatics             1297
Gymnastics           1287
Rowing                990
Fencing               798
                     ...
Croquet                 8
Water Motorsports       5
Basque Pelota           4
Jeu de paume            3
Roque                   3
Name: count, Length: 36, dtype: int64

In [24]:
oo.Year.describe()

count    11758.000000
mean      1933.510461
std         20.710700
min       1896.000000
25%       1920.000000
50%       1932.000000
75%       1952.000000
max       1968.000000
Name: Year, dtype: float64

In [25]:
oo.Medal.unique()

array(['Gold', 'Silver', 'Bronze'], dtype=object)

In [26]:
oo.Medal.value_counts()

Medal
Gold      4104
Silver    3960
Bronze    3694
Name: count, dtype: int64

In [27]:
medals = ["Gold", "Silver", "Bronze"]

In [28]:
position = {
    "First": "Gold",
    "Second":"Silver",
    "Third":"Bronze"
}

In [29]:
oo.rename?

In [30]:
oo.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal', 'Position'],
      dtype='object')

In [31]:
mapper = {
    "Athlete Name": "Athlete_Name",
    "Event Gender": "Event_Gender"
}

In [32]:
oo = oo.rename(columns=mapper).head(4)
oo.sample()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold,1

## Remove a series (column) or row

In [33]:
oo.sample()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2

In [34]:

# oo = oo.drop('Position', axis=1)
oo.sample()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3

In [35]:
oo = oo.drop(1, axis=0)
oo.sample()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3

In [36]:
oo = oo.drop([2,3], axis=0)
oo.sample()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Event_Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold,1

In [37]:
oo = oo.drop(columns='Event_Gender')
oo.sample()

,Year,City,Sport,Discipline,Athlete_Name,NOC,Gender,Event,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,Gold,1

In [38]:
oo = pd.read_csv('olympics_1896_2004.csv', engine='python', skiprows=5, on_bad_lines='skip')
oo.sample()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
7318,1948,London,Aquatics,Swimming,"TERMEULEN, Johanna Maria",NED,Women,4x100m freestyle relay,W,Bronze,3

## Filtering

In [39]:
oo.Year.dtype

dtype('int64')

In [40]:
first_olympics = oo[oo.Year == 1896]
first_olympics

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
146,1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold,1
147,1896,Athens,Athletics,Athletics,"TUFFERI, Alexandre",FRA,Men,triple jump,M,Silver,2
148,1896,Athens,Gymnastics,Artistic G.,"WEINGRTNER, Hermann",GER,Men,vault,M,Bronze,3
149,1896,Athens,Gymnastics,Artistic G.,"SCHUMANN, Carl",GER,Men,vault,M,Gold,1
150,1896,Athens,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,vault,M,Silver,2

In [41]:
before_1896 = oo[oo.Year < 1896]
before_1896

Empty DataFrame
Columns: [Year, City, Sport, Discipline, Athlete Name, NOC, Gender, Event, Event Gender, Medal, Position]
Index: []

In [42]:
oo[(oo.Year == 1896) & (oo.Gender == "Men")].head(5)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [43]:
oo.dtypes

Year             int64
City            object
Sport           object
Discipline      object
Athlete Name    object
NOC             object
Gender          object
Event           object
Event Gender    object
Medal           object
Position         int64
dtype: object

In [44]:
oo[oo.City.str.startswith('A')].head(5)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [45]:
oo[oo.City == 'Athens'].head(5)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [46]:
oo[(oo.NOC == 'IND') & (oo.Medal == 'Gold')].head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
5472,1928,Amsterdam,Hockey,Hockey,"ALLEN, Richard James",IND,Men,hockey,M,Gold,1
5473,1928,Amsterdam,Hockey,Hockey,"CHAND, Dyan",IND,Men,hockey,M,Gold,1
5474,1928,Amsterdam,Hockey,Hockey,"GATELEY, Maurice A.",IND,Men,hockey,M,Gold,1
5475,1928,Amsterdam,Hockey,Hockey,"GILL, K. S.",IND,Men,hockey,M,Gold,1
5476,1928,Amsterdam,Hockey,Hockey,"GOODSIR-CULLEN, William John",IND,Men,hockey,M,Gold,1

In [47]:
oo.Event.str.capitalize().sample(5)

8930     - 56kg, total (bantamweight)
11250                        Football
4996                        pe team
10616                           Vault
7051                         Shot put
Name: Event, dtype: object

In [48]:
dir(oo.Event.str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_data',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_index',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_name',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [49]:
oo.City

0        Athens
1        Athens
2        Athens
3        Athens
4        Athens
          ...
11753    Mexico
11754    Mexico
11755    Mexico
11756    Mexico
11757    Mexico
Name: City, Length: 11758, dtype: object

In [50]:
oo.City = oo.City.str.upper()
oo.sample(5)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
9423,1956,MELBOURNE / STOCKHOLM,Football,Football,"SALNIKOV, Sergei",URS,Men,football,M,Gold,1
908,1904,ST LOUIS,Football,Football,"FROST, Frank",USA,Men,football,M,Gold,1
9412,1956,MELBOURNE / STOCKHOLM,Football,Football,"BETSA, Iosif",URS,Men,football,M,Gold,1
1346,1908,LONDON,Wrestling,Wrestling Free.,"GINGELL, Albert",GBR,Men,60.3 - 66.6kg (lightweight),M,Bronze,3
11195,1964,TOKYO,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,floor exercises,W,Gold,1

## Sorting Dataframe or series

In [51]:
oo['Athlete Name'].sort_values().head(5)

611                 AABYE, Edgar
3060       AALTONEN, Arvo Ossian
2963       AALTONEN, Arvo Ossian
7906    AALTONEN, Paavo Johannes
8750    AALTONEN, Paavo Johannes
Name: Athlete Name, dtype: object

In [52]:
oo.sort_values(by='Athlete Name', ascending=False).head(5)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
8125,1952,HELSINKI,Aquatics,Swimming,"STRAND, Per-Olof",SWE,Men,400m freestyle,M,Bronze,3
280,1900,PARIS,Shooting,Shooting,"STMO, Ole",NOR,Men,"army rifle, 300m, standing",M,Silver,2
275,1900,PARIS,Shooting,Shooting,"STMO, Ole",NOR,Men,"army rifle, 300m, prone",M,Bronze,3
443,1900,PARIS,Shooting,Shooting,"STMO, Ole",NOR,Men,"free rifle, team",M,Silver,2
268,1900,PARIS,Shooting,Shooting,"STMO, Ole",NOR,Men,"army rifle, 300m, 3 positions",M,Bronze,3

In [53]:
oo.sort_values(by=['Athlete Name', 'Medal'], ascending=False).head(5)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
8125,1952,HELSINKI,Aquatics,Swimming,"STRAND, Per-Olof",SWE,Men,400m freestyle,M,Bronze,3
280,1900,PARIS,Shooting,Shooting,"STMO, Ole",NOR,Men,"army rifle, 300m, standing",M,Silver,2
443,1900,PARIS,Shooting,Shooting,"STMO, Ole",NOR,Men,"free rifle, team",M,Silver,2
268,1900,PARIS,Shooting,Shooting,"STMO, Ole",NOR,Men,"army rifle, 300m, 3 positions",M,Bronze,3
275,1900,PARIS,Shooting,Shooting,"STMO, Ole",NOR,Men,"army rifle, 300m, prone",M,Bronze,3

In [54]:
oo.sort_values(by=['NOC', 'Medal'], ascending=[False, True]).head(5)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
57,1896,ATHENS,Tennis,Tennis,"FLACK, Edwin",ZZX,Men,doubles,M,Bronze,3
58,1896,ATHENS,Tennis,Tennis,"ROBERTSON, George Stuart",ZZX,Men,doubles,M,Bronze,3
488,1900,PARIS,Tennis,Tennis,"DOHERTY, Hugh Lawrence",ZZX,Men,mixed doubles,X,Bronze,3
489,1900,PARIS,Tennis,Tennis,"WARDEN, Archibald A.",ZZX,Men,mixed doubles,X,Bronze,3
492,1900,PARIS,Tennis,Tennis,"JONES, Marion",ZZX,Women,mixed doubles,X,Bronze,3

In [55]:
oo.dtypes

Year             int64
City            object
Sport           object
Discipline      object
Athlete Name    object
NOC             object
Gender          object
Event           object
Event Gender    object
Medal           object
Position         int64
dtype: object

In [56]:
oo.Medal.unique()

array(['Gold', 'Silver', 'Bronze'], dtype=object)

In [57]:
oo.Medal = oo.Medal.astype('category')
oo.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete Name      object
NOC               object
Gender            object
Event             object
Event Gender      object
Medal           category
Position           int64
dtype: object

In [58]:
oo.Gender = oo.Gender.astype('category')
oo['Event Gender'] = oo['Event Gender'].astype('category')
oo.dtypes

Year               int64
City              object
Sport             object
Discipline        object
Athlete Name      object
NOC               object
Gender          category
Event             object
Event Gender    category
Medal           category
Position           int64
dtype: object

In [59]:
medal_order = ["Bronze", "Silver", "Gold"]
pd.Categorical(oo.Medal, ordered=True, categories=medal_order)

['Gold', 'Silver', 'Bronze', 'Bronze', 'Gold', ..., 'Gold', 'Silver', 'Bronze', 'Gold', 'Silver']
Length: 11758
Categories (3, object): ['Bronze' < 'Silver' < 'Gold']

In [60]:
oo.sort_values(by=['Year', 'Event', 'Medal'], ascending=[True, True, False]).head(5)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
1,1896,ATHENS,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
0,1896,ATHENS,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold,1
5,1896,ATHENS,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver,2
4,1896,ATHENS,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
2,1896,ATHENS,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3

In [61]:
df = pd.read_csv('olympics_1896_2004.csv', engine='python', skiprows=5, on_bad_lines='skip')
df.head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

## Python Functions

In [62]:
def show_df(filename='olympics_1896_2004.csv'):
  oo = pd.read_csv(filename, engine='python', skiprows=5, on_bad_lines='skip')
  return oo.head()

show_df()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [63]:
type(show_df())

pandas.core.frame.DataFrame

In [64]:
def preprocess():
  ordered_medals = pd.api.types.CategoricalDtype(categories=['Bronze', 'Silver', 'Gold'], ordered=True)
  dtype_mapper = {
    'Year': 'int64',
    'City': 'string',
    'Sport': 'string',
    'Discipline': 'string',
    'Athlete Name': 'string',
    'NOC': 'string',
    'Country': 'string',
    'Gender': 'category',
    'Event Gender': 'category',
    'Medal': ordered_medals
  }
  df = pd.read_csv('olympics_1896_2004.csv', engine='python', skiprows=5, on_bad_lines='skip', dtype=dtype_mapper).drop('Position', axis=1)
  df['Event Gender'] = df['Event Gender'].astype('category')
  return df

oo = preprocess()
oo.head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold

In [65]:
oo.dtypes

Year                     int64
City            string[python]
Sport           string[python]
Discipline      string[python]
Athlete Name    string[python]
NOC             string[python]
Gender                category
Event                   object
Event Gender          category
Medal                 category
dtype: object

## Working with indexes

*   loc is for indexs
*   iloc is for list like access by row and col

In [66]:
oo.index

RangeIndex(start=0, stop=11758, step=1)

In [67]:
oo.shape

(11758, 10)

In [68]:
oo.head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Lon",FRA,Men,100km,M,Gold
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold

In [69]:
oo.loc[1128, "NOC"]

'USA'

In [70]:
oo.loc[227]

Year                        1900
City                       Paris
Sport                  Athletics
Discipline             Athletics
Athlete Name    HOLLAND, William
NOC                          USA
Gender                       Men
Event                       400m
Event Gender                   M
Medal                     Silver
Name: 227, dtype: object

In [71]:
oo.iloc[227]

Year                        1900
City                       Paris
Sport                  Athletics
Discipline             Athletics
Athlete Name    HOLLAND, William
NOC                          USA
Gender                       Men
Event                       400m
Event Gender                   M
Medal                     Silver
Name: 227, dtype: object

In [72]:
oo = oo.set_index('Athlete Name')
oo.head()

,Year,City,Sport,Discipline,NOC,Gender,Event,Event Gender,Medal
Athlete Name,,,,,,,,,
"FLAMENG, Lon",1896,Athens,Cycling,Cycling Track,FRA,Men,100km,M,Gold
"KOLETTIS, Georgios",1896,Athens,Cycling,Cycling Track,GRE,Men,100km,M,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100m,M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100m,M,Gold

## Creating series and Dataframes

In [73]:
city = ['London', 'Rio', 'Tokyo']
year = [2012, 2016, 2021]

In [74]:
pd.Series(city)

0    London
1       Rio
2     Tokyo
dtype: object

In [75]:
pd.DataFrame({
    "city": city,
    "year": year
})

     city  year
0  London  2012
1     Rio  2016
2   Tokyo  2021

In [77]:
pd.DataFrame(zip(city, year))

        0     1
0  London  2012
1     Rio  2016
2   Tokyo  2021

In [78]:
pd.DataFrame(zip(city, year), columns=['city', 'year'])

     city  year
0  London  2012
1     Rio  2016
2   Tokyo  2021

## Working with Dates

In [87]:
start_date = ['07-27-2012', '5th Aug 2016', '23rd jul 2021']
end_date = ['12th Aug 2012', '21-08-2016', '8th Aug 2021']

In [88]:
games = pd.DataFrame(zip(city, start_date, end_date), columns=['city', 'start_date', 'end_date'])

In [89]:
pd.to_datetime?

In [91]:
games

     city     start_date       end_date
0  London     07-27-2012  12th Aug 2012
1     Rio   5th Aug 2016     21-08-2016
2   Tokyo  23rd jul 2021   8th Aug 2021

In [92]:
pd.to_datetime(games.start_date, format='mixed')

0   2012-07-27
1   2016-08-05
2   2021-07-23
Name: start_date, dtype: datetime64[ns]

In [93]:
games.start_date = pd.to_datetime(games.start_date, format='mixed')
games.end_date = pd.to_datetime(games.end_date, format='mixed')
games

     city start_date   end_date
0  London 2012-07-27 2012-08-12
1     Rio 2016-08-05 2016-08-21
2   Tokyo 2021-07-23 2021-08-08

In [94]:
games['duration'] = games.end_date - games.start_date
games

     city start_date   end_date duration
0  London 2012-07-27 2012-08-12  16 days
1     Rio 2016-08-05 2016-08-21  16 days
2   Tokyo 2021-07-23 2021-08-08  16 days

In [95]:
games.dtypes

city                   object
start_date     datetime64[ns]
end_date       datetime64[ns]
duration      timedelta64[ns]
dtype: object

## Combining Dataframes

In [96]:
start = pd.DataFrame({
    "city": city,
    "start_date": start_date
})

end = pd.DataFrame({
    "city": city,
    "end_date": end_date
})

In [97]:
start

     city     start_date
0  London     07-27-2012
1     Rio   5th Aug 2016
2   Tokyo  23rd jul 2021

In [98]:
end

     city       end_date
0  London  12th Aug 2012
1     Rio     21-08-2016
2   Tokyo   8th Aug 2021

In [99]:
pd.concat([start, end], axis=0)

     city     start_date       end_date
0  London     07-27-2012            NaN
1     Rio   5th Aug 2016            NaN
2   Tokyo  23rd jul 2021            NaN
0  London            NaN  12th Aug 2012
1     Rio            NaN     21-08-2016
2   Tokyo            NaN   8th Aug 2021

In [100]:
pd.concat([start, end], axis=1)

     city     start_date    city       end_date
0  London     07-27-2012  London  12th Aug 2012
1     Rio   5th Aug 2016     Rio     21-08-2016
2   Tokyo  23rd jul 2021   Tokyo   8th Aug 2021

In [114]:
start.loc[3] = ['Paris', '24-8-2024']
end.loc[3] = ['Beijing', '19-07-2008']

In [116]:
pd.merge(start, end, on='city')

     city     start_date       end_date
0  London     07-27-2012  12th Aug 2012
1     Rio   5th Aug 2016     21-08-2016
2   Tokyo  23rd jul 2021   8th Aug 2021

In [117]:
pd.merge(start, end, on='city', how='inner')

     city     start_date       end_date
0  London     07-27-2012  12th Aug 2012
1     Rio   5th Aug 2016     21-08-2016
2   Tokyo  23rd jul 2021   8th Aug 2021

In [118]:
pd.merge(start, end, on='city', how='left')

     city     start_date       end_date
0  London     07-27-2012  12th Aug 2012
1     Rio   5th Aug 2016     21-08-2016
2   Tokyo  23rd jul 2021   8th Aug 2021
3   Paris      24-8-2024            NaN

In [119]:
pd.merge(start, end, on='city', how='right')

      city     start_date       end_date
0   London     07-27-2012  12th Aug 2012
1      Rio   5th Aug 2016     21-08-2016
2    Tokyo  23rd jul 2021   8th Aug 2021
3  Beijing            NaN     19-07-2008

In [120]:
pd.merge(start, end, on='city', how='outer')

      city     start_date       end_date
0  Beijing            NaN     19-07-2008
1   London     07-27-2012  12th Aug 2012
2    Paris      24-8-2024            NaN
3      Rio   5th Aug 2016     21-08-2016
4    Tokyo  23rd jul 2021   8th Aug 2021